In [1]:
import pandas as pd 
import numpy as np 

data = pd.read_csv("mercedesbenz.csv", usecols = ['X1','X2'])

In [6]:
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [7]:
data.shape

(4209, 2)

In [8]:
pd.get_dummies(data).shape

(4209, 71)

In [11]:
len(data['X1'].unique())

27

In [12]:
len(data['X2'].unique())

44

In [29]:
#Let have a look at how many labels

for col in data.columns[0:]:
    print('col', " :", len(data[col].unique()), ' labels')

col  : 27  labels
col  : 44  labels

In [28]:
data.columns[0:]

Index(['X1', 'X2'], dtype='object')

In [30]:
#let's obtain the counts for each one of the labes in variable X2
#let's capture this in a dictionary that we can use to re-map the labels

In [31]:
data.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [33]:
#replace each label in X2 by its count
#first we make a dictionary that maps each label to the counts
df_freaquency_map= data.X2.value_counts().to_dict()
df_freaquency_map

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [34]:
#and now we replace X2 labels in the dataset data
data.X2 = data.X2.map(df_freaquency_map)
data.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137