In [15]:
import pandas as pd 
import numpy as np 

data = pd.read_csv("mercedesbenz.csv", usecols = ['X1','X2'])

In [16]:
data.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [17]:
data.shape

(4209, 2)

# One hot encoding

In [18]:
pd.get_dummies(data).shape

(4209, 71)

In [19]:
len(data['X1'].unique())

27

In [20]:
len(data['X2'].unique())

44

In [21]:
#Let have a look at how many labels

for col in data.columns[0:]:
    print('col', " :", len(data[col].unique()), ' unique labels')

col  : 27  unique labels
col  : 44  unique labels

In [22]:
data.columns[0:]

Index(['X1', 'X2'], dtype='object')

In [23]:
#let's obtain the counts for each one of the labes in variable X2
#let's capture this in a dictionary that we can use to re-map the labels

In [24]:
data.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'an': 5,
 'q': 5,
 'al': 5,
 'av': 4,
 'p': 4,
 'ah': 4,
 'au': 3,
 'l': 1,
 'af': 1,
 'ar': 1,
 'aa': 1,
 'am': 1,
 'c': 1,
 'o': 1,
 'j': 1}

In [25]:
#replace each label in X2 by its count
#first we make a dictionary that maps each label to the counts
df_freaquency_map= data.X2.value_counts().to_dict()
df_freaquency_map

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'an': 5,
 'q': 5,
 'al': 5,
 'av': 4,
 'p': 4,
 'ah': 4,
 'au': 3,
 'l': 1,
 'af': 1,
 'ar': 1,
 'aa': 1,
 'am': 1,
 'c': 1,
 'o': 1,
 'j': 1}

In [27]:
#and now we replace X2 labels in the dataset data
data.X2 = data.X2.map(df_freaquency_map)
data.head(20)

    X1  X2
0    v NaN
1    t NaN
2    w NaN
3    t NaN
4    v NaN
5    b NaN
6    r NaN
7    l NaN
8    s NaN
9    b NaN
10   r NaN
11   r NaN
12   b NaN
13   r NaN
14   s NaN
15   l NaN
16   r NaN
17  aa NaN
18   c NaN
19   a NaN